# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Dataset (IMPORTANT)
# ======================
kaggle/
data/
dataset/
*.jpg
*.jpeg
*.png

# ======================
# Model checkpoints
# ======================
*.pt
*.pth
*.ckpt

# ======================
# Archives
# ======================
*.zip
*.tar
*.tar.gz

# ======================
# IDE / system
# ======================
.vscode/
.DS_Store