# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset files
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz

# Kaggle raw data
kaggle/raw/
kaggle/train/
kaggle/val/
kaggle/dataset-paddy/
kaggle/train/
kaggle/val/
*.pt
*.pth
__pycache__/


# General
*.tar.gz
*.zip